 body {
  margin: 0;
  font-family: 'Cairo', sans-serif;
}

/* HEADER /
.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; / بدل % /
}

.header-links a {
  color: #ffa500;
  padding: 8px 12px; / بدل % /
  text-decoration: none;
  border-radius: 10px;
}

/ LANDING /
.landing-page {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px; / بدل % /
  color: #ffa500;
}

.landing-page-left-section {
  width: 100%; / بدل 400% /
}

/ STORE /
.tomas-Store {
  padding: 40px 20px; / بدل % /
}

.tomas-cards {
  display: flex;
  gap: 20px; / بدل 150% /
  flex-wrap: wrap;
}

.card {
  width: 250px; / بدل 300% */
  background-color: #eee;
  border-radius: 20px;
}
﻿
@media (max-width: 768px) {
  .header,
  .landing-page,
  .tomas-Store {
    padding: 20px !important;
  }

  .tomas-cards {
    flex-wrap: wrap;
    gap: 15px;
  }

  .card {
    width: 100% !important;
    max-width: 300px;
  }

  .landing-page-left-section {
    width: 100% !important;
  }
}

